@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #696969;
}

h1 {
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
}

a:link {
    text-decoration: none;
    color: #696969;
}

a:visited {
    text-decoration: none;
}